<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<div class="container-fluid mt-5 p-5">
			<div class="row">
				<p class="text-center fs-3 fw-bold">My Orders</p>
				<th:block th:if="${session.successMsg}">
					<p class="text-success fw-bold text-center">[[${session.successMsg}]]</p>
					<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>
				<th:block th:if="${session.errorMsg}">
					<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
					<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>
				<div class="col-md-12">

					<table class="table table-bordered">
						<thead>
							<tr class="text-center">
								<th scope="col"> Order ID</th>
								<th scope="col"> Date</th>
								<th scope="col"> Product Details</th>
								<th scope="col"> Quantity </th>
								<th scope="col"> Total</th>
								<th scope="col"> Status</th>
								<th scope="col"> Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="o:${orders}">
								<th scope="row">[[${o.orderId}]]</th>
								<td>[[${o.orderDate}]]</td>
								<td>[[${o.product.name}]]</td>
								<td>[[${o.quantity}]]</td>
								<td>[[${o.price}]]</td>
								<td>[[${o.status}]]</td>


								<td>
									<th:block th:if="${o.status!='Cancelled'}">
										<a th:href="@{'/user/update-status?id='+${o.id}+'&st=6'}"
											class="btn btn-sm btn-danger">cancel</a>
									</th:block>




									<th:block th:unless="${o.status!='Cancelled'}">
										<a href="#"
											class="btn btn-sm btn-danger disabled">cancel</a>
									</th:block>

								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</section>
</body>

</html>